
.App-header{

  text-align: center;
}
.App{
  background-color:#343642;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #979c9c;
  font-size: 3em;
  font-family: Lora;
  font-weight: 400;
}
.nav {
  
  list-style-type: none;
 
  margin: 0;
  padding: 0;
 color: aliceblue;
 float: left;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
 
}

.content{
  margin: fixed;
  width: 1000px;
  height: 200px;
  border-radius: 3px;
  border:  1px solid #df4b4b;
  text-align: left;
  position: relative;
  left:10%;

  }


 
input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #343642;
    height: 20px;
    border-radius: 2px;
    color:wheat;
  }
  
  .no-outline:focus {
    outline: none;
  }
      
  ::placeholder {
    color: #979c9c;
    
  }